---
import Layout from "../layouts/Layout.astro";

import { COTIZACION_STEPS_TEXT } from "../../public/cotizarConstants";
import ToogleInput from "../components/ToogleInput.astro";
import Whatsapp from "../components/icons/Whatsapp.astro";
import Correo from "../components/icons/Correo.astro";
import Pdf from "../components/icons/Pdf.astro";

---

<Layout title="Cotizar">
    <style is:global>
        #seccion-cotizar {
            display: flex;
            flex-direction: column;
            gap: 3rem;
        }
        #seccion-cotizar .cotizar-title-step {
            font-size: 1.3rem;
            min-height: 80px; /* evita que el elemento realize un salto cuandoi no tinene texto */
            font-weight: bolder;
            color: rgb(34, 14, 75);
            width: fit-content;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 2rem;
        }

        @media (min-width: 700px) {
            #seccion-cotizar .cotizar-title-step {
                font-size: 2rem;
            }
        }

        #seccion-cotizar #step-origen-destino select {
            width: 100%;
            padding: 4px;
            border-radius: 5px;
        }

        /* stylos para progress bar */
        #seccion-cotizar .container-progress-bar {
            position: relative;
            background-color: rgb(236, 229, 229);
            border-radius: 5px;
            width: 80%;
            margin: 0 auto;
        }

        #seccion-cotizar .container-progress-bar svg {
            background-color: white;
            border-radius: 100%;
            position: absolute;
            right: -1px;
            top: 0;
            bottom: 0;
            margin: auto;
            transition: all 1.5s ease-in-out;
            z-index: 2;
        }

        #seccion-cotizar .container-progress-bar .number-step {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            color: white;
            border-radius: 100%;
            inset: 0;
            margin: auto 0;
            font-size: 1.3rem;
            font-weight: 400;
            background-color: blue;
        }

        #seccion-cotizar .progress-bar {
            position: relative;
            display: flex;
            justify-content: end;
            background-color: blue;
            height: 5px;
            width: 0%;
            border-radius: 5px;
            transition: all 800ms ease-in-out;
        }

        #seccion-cotizar .container-control-buttons {
            display: flex;
            gap: 0.5rem;
            justify-content: space-between;
        }

        #seccion-cotizar .container-control-buttons button {
            transition: all 200ms linear;
            width: 100%;
            background-color: blue;
            padding: 0.5rem;
            color: white;
            text-transform: uppercase;
        }
        #seccion-cotizar .container-control-buttons button:hover {
            background-color: transparent;
            color: black;
            border: 1px solid black;
        }

        #seccion-cotizar .container-control-buttons button:disabled {
            background-color: rgb(103, 103, 188);
            color: white;
        }

        #cotizar-form {
            position: relative;
            overflow: hidden;
        }

        #cotizar-form .step {
            transition: all 800ms linear;
            width: 100%;
        }

        #cotizar-form > *:not(:first-child) {
            display: none;
        }

        /* stylos para span de errores */
        #cotizar-form .error {
            background-color: red;
            color: white;
            width: fit-content;
            margin: auto;

            border-radius: 5px;
        }

        /* STYLOS step-origen-destino */

        #step-origen-destino {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 0.4rem;
            position: relative;
        }

        #step-origen-destino label {
            width: 48%;
            font-weight: 500;
        }

        /* stylos para step de fecha de viaje */
        #step-date-travel h2 {
            width: 80%;
            margin-left: 10%;
            font-weight: 500;
        }

        #step-date-travel input {
            width: 80%;
            margin: auto;
            padding: 5px;
            border-radius: 5px;
        }

        /* stylos para lista de articulos a transportar */

        #step-article-list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
        }
        #container-list-articles {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            height: fit-content;
            padding: 5px;
            gap: 10px;
        }
        #container-list-articles .item-transport-container {
            position: relative;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            height: fit-content;
            width: 100%;
            justify-content: center;
            border-radius: 10px;
            padding: 5px;
            gap: 0.5rem;
            background-color: white;
        }
        .container-list-articles .item-transport-container::before {
            position: absolute;
            content: "";
            z-index: -1;
            inset: 0;
            background-color: blue;
            width: calc(100% + 1px);
            height: calc(100% + 1px);
            border-radius: 10px;
            margin: auto;
            margin-left: -0.5px;
            filter: blur(1px);
        }
        .item-transport-container .button-menu {
            display: flex;
            background-color: #d7d0d0;
            justify-content: center;
            align-items: center;
            width: 15%;
        }
        .item-transport-container .button-menu:hover {
            background-color: #9f9898;
            color: white;
        }
        .item-transport-container .info-item {
            overflow: hidden;
            position: relative;
            width: 85%;
        }
        .item-transport-container .info-item .info {
            display: flex;
            gap: 0.8rem;
            align-items: center;
        }
        .item-transport-container .info-item span {
            width: fit-content;
            padding: 5px;
            font-size: 1.5rem;
        }
        .item-transport-container .info-item p {
            font-weight: 300;
        }
        .item-transport-container .info-item .controles-item {
            position: absolute;
            gap: 0.2rem;
            padding: 3px;
            align-items: center;
            justify-content: space-around;
            inset: 0;
            z-index: 60;
            height: 100%;
            width: 100%;
            border-radius: 5px;
            background-color: white;
            display: none;
        }
        .item-transport-container .info-item .controles-item button {
            width: 50%;
            border-radius: 5px;

            /* padding: 4px 10px; */
        }

        .item-transport-container-animation {
            display: flex !important;
            animation: animationtranslate ease-in-out 400ms 1 both;
        }

        .item-transport-container
            .info-item
            .controles-item
            button:nth-child(1) {
            background-color: #1e5f1e;
            color: white;
        }
        .item-transport-container
            .info-item
            .controles-item
            button:nth-child(2) {
            background-color: #8d1f1f;
            color: white;
        }

        @keyframes animationtranslate {
            0% {
                transform: translateX(-100%);
            }
            100% {
                transform: translateX(0%);
            }
        }

        /* controll articles */
        #step-article-list #control-list-articles {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 0.5rem;
        }

        #step-article-list #control-list-articles input,
        button {
            padding: 8px 5px;
            border-radius: 5px;
        }

        #step-article-list #input-cant-article {
            width: 20%;
        }

        #step-article-list #control-list-articles button {
            background-color: #3aa856;
            color: white;
            padding: 8px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-width: 150px;
            overflow: hidden; /* Oculta el contenido que se desborda */
        }

        #step-article-list #control-list-articles button > * {
            flex: 1;
            transition: all 0.3s ease;
            overflow: hidden;
        }

        #step-article-list #control-list-articles button:hover {
            background-color: #34974d;
        }

        #step-article-list #control-list-articles button:hover > span {
            flex: 0;
            width: 0;
        }

        #step-article-list #control-list-articles button:hover svg {
            flex: 1;
            width: auto;
        }

        @media (min-width: 680px) {
            .container-list-articles .item-transport-container {
                width: 320px !important;
            }
        }
        /* stylos para seleccionar servicios */
        #step-select-services h2 {
        }

        #step-select-services .container-services {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
        }
        #step-end-cotization{
            flex-direction: column;
            gap: 0.5rem;
        }
        #step-end-cotization h2{
            color: white;
            background: linear-gradient(115deg, #004ff9, #000000);
            padding: 10px;
            border-radius: 10px;
            font-size: 2rem;
        }
        #step-end-cotization .container-details-cotization article{
            display: flex;
            flex-direction: column;
            padding: 5px;
            border: 1px solid gray;
            border-radius: 10px;
        }
        
        #step-end-cotization .container-details-cotization h3{
            font-weight: bold;
        }
        #step-end-cotization .container-details-cotization{
            display: grid !important;
            gap: 0.5rem;
            grid-template-columns: repeat(2 , 1fr);
        }
        #step-end-cotization .container-details-cotization{
            display: flex;
        }
        #step-end-cotization .send-cotization{
            overflow: auto;
            display: flex;
            gap: 0.5rem;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
        #step-end-cotization .send-cotization svg{
            width: 50px;
        }
        #step-end-cotization .send-cotization div{
            min-height: calc(100% + 20px);
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;
            padding: 5px;
            box-shadow:
            rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
            border-radius: 10px;
        }
        #step-end-cotization .send-cotization div:hover{
            border: 1px solid black;
        }
    </style>
    <section id="seccion-cotizar" class="">
        <h1 id="cotizar-title-step" class="cotizar-title-step">
            {COTIZACION_STEPS_TEXT.STEP_1}
        </h1>
        <div id="container-progress-bar" class="container-progress-bar">
            <div id="progress-bar" class="progress-bar">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-truck"
                >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M7 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                    <path d="M17 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                    <path
                        d="M5 17h-2v-11a1 1 0 0 1 1 -1h9v12m-4 0h6m4 0h2v-6h-8m0 -5h5l3 5"
                    ></path>
                </svg>
            </div>
        </div>

        <form id="cotizar-form" class="">
            <div id="step-origen-destino" class="step">
                <label>
                    Departamento Origen
                    <select
                        class="border loading-select"
                        name="ciudad-origen"
                        id="departamento-origen"
                    >
                    </select>
                </label>
                <label>
                    Ciudad Origen
                    <select
                        class="border"
                        name="ciudad-origen"
                        id="ciudad-origen"
                    >
                    </select>
                </label>
            </div>

            <div class="step" id="step-origen-destino">
                <label>
                    Departamento Destino
                    <select
                        class="border"
                        name="departamento-destino"
                        id="departamento-destino"
                    >
                    </select>
                </label>
                <label>
                    Ciudad Destino
                    <select
                        class="border"
                        name="ciudad-destino"
                        id="ciudad-destino"
                    >
                    </select>
                </label>
            </div>

            <div id="step-date-travel" class="step flex-col">
                <h2>Fecha del evento</h2>
                <span id="error-date-travel" class="error"></span>
                <input  type="date" id="date-travel" class="border" />
            </div>

            <div id="step-article-list" class="step flex-col">
                <div
                    id="container-list-articles"
                    class="container-list-articles"
                >
                </div>
                <span id="error-input-article" class="error"></span>
                <div id="control-list-articles" class="">
                    <input
                        id="input-cant-article"
                        value="1"
                        class="border w-fit"
                        type="number"
                        min="1"
                    />
                    <input
                        id="input-name-article"
                        class="border"
                        type="text"
                        placeholder="ej:Nevera"
                    />
                    <button
                        id="btn-add-article"
                        type="button"
                        class="w-fit btn"
                    >
                        <span>Agregar</span>
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-plus"
                            ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                            ></path><path d="M12 5l0 14"></path><path
                                d="M5 12l14 0"></path></svg
                        >
                    </button>
                </div>
            </div>

            <div id="step-select-services" class="step flex-col">
                <div id="container-services" class="container-services">
                    <ToogleInput
                        title="Peronal de cargue y arme"
                        name="personal-desarme-arme"
                    />
                    <ToogleInput
                        title="Desarme y Arme de estructuras"
                        name="desarme y arme"
                    />
                    <ToogleInput
                        title="Desarme y Arme de estructuras"
                        name="desarme y arme"
                    />
                </div>
            </div>

            <div id="step-end-cotization" class="step">
                <h2 >¡Tu cotizacion está lista!</h2>
                <div class="container-details-cotization">
                    <article>
                        <h3>Detalles del viaje</h3>
                        <span>Destino : San rafael</span>
                        <span>Fecha de salida: 2023-05-10</span>
                        <span>Fecha de regreso: 2023-05-17</span>
                    </article>
                    <article>
                        <h3>Servicios Adquiridos</h3>
                        <span>Cargue y descargue</span>
                        <span>descargue y cargue</span>
                        <span>Ayudantes</span>
                        <span>Carretilla</span>
                    </article>
                    <article>
                        <h3>Articulos a transportar</h3>
                        <span>nevera</span>
                        <span>Cortinas de humo</span>
                        <span>Muebles</span>
                        <span>Baldosas</span>
                    </article>
                </div>
                <h3 class="text-2xl text-center">Elige que hacer con tu cotización</h3>
                <article class="send-cotization">
                    <div>
                        <Whatsapp className="text-green-600"/>
                        <span>Enviar por whatsapp</span>
                    </div>
                    <div>
                        <Correo className="text-blue-600" />
                        <span>Enviar por correo</span>
                    </div>
                    <div>
                        <Pdf className="text-red-800"/>
                        <span>Descargar en Pdf</span>
                    </div>
                </article>
            </div>
        </form>

        <div class="container-control-buttons">
            <button id="btn-prev-step" class="">anterior</button>
            <button id="btn-next-step" type="button" class="">siguiente</button>
        </div>
    </section>

    <script is:inline type="module">
        import { createItemTransport, typeWriter } from "/utils.js";
        import { COTIZACION_STEPS_TEXT } from "/cotizarConstants.js";

        // title step
        const titleStep = document.getElementById("cotizar-title-step");

        // Control Form
        const formCotizar = document.getElementById("cotizar-form");
        const btnPrevStep = document.getElementById("btn-prev-step");
        const btnNextStep = document.getElementById("btn-next-step");
        const totalSteps = formCotizar.children.length;
        // comienza en 0 ya qiue vamos a trabajar con array
        let indexCurrentStep = 0;

        // progress bar
        const containerProgressBar = document.getElementById(
            "container-progress-bar",
        );
        const progressBar = document.getElementById("progress-bar");

        const porcentStep = 100 / (totalSteps - 1);
        for (let step = 1; step < totalSteps; step++) {
            let leftStepText = porcentStep * step;
            const spanStepText = document.createElement("span");
            spanStepText.textContent = `${step}`;
            spanStepText.style.left = `calc(${leftStepText}% - 26px)`; // le restamos el radio del ancho y alto del  span
            spanStepText.classList.add("number-step");
            containerProgressBar.appendChild(spanStepText);
        }
        // fin progress bar

        // STEP ORIGIN -  DESTINY
        const objectDestini = {
            department_origin: "",
            citi_origin: "",
            department_destini: "",
            citi_destini: "",
        };
        const selectDepartamentoOrigen = document.getElementById(
            "departamento-origen",
        );
        const selectCiudadOrigen = document.getElementById("ciudad-origen");

        const selectDepartamentoDestino = document.getElementById(
            "departamento-destino",
        );
        const selectCiudadDestino = document.getElementById("ciudad-destino");

        function handleLoadingDepartmentSelects(hidden = false) {
            if (hidden) {
                const loadingOptions =
                    document.querySelectorAll("#loading-option");
                for (let i = 0; i < loadingOptions.length; i++) {
                    const element = loadingOptions[i];
                    element.remove();
                }
                selectDepartamentoOrigen.removeAttribute("disabled");
                selectDepartamentoDestino.removeAttribute("disabled");
                return;
            }
            selectDepartamentoOrigen.setAttribute("disabled", "disabled");
            selectDepartamentoDestino.setAttribute("disabled", "disabled");

            const optionOrigin = document.createElement("option");
            optionOrigin.id = "loading-option";
            optionOrigin.textContent = "cargando...";
            selectDepartamentoOrigen.appendChild(optionOrigin);
            selectDepartamentoDestino.appendChild(optionOrigin.cloneNode(true));
            selectCiudadOrigen.appendChild(optionOrigin.cloneNode(true));
            selectCiudadDestino.appendChild(optionOrigin.cloneNode(true));
        }
        async function handleChangeDepartment(event) {
            const target = event.target; // e target siempre sera el select en si
            const optionSelected = target.options[target.selectedIndex]; // recuperamos el option seleccionado
            const idDepartment = target.value;
            const result = await getCities(Number(idDepartment));
            if (result.error) return;
            //    renderizar en el select adecuado si es de origen o destino
            if (target.id === "departamento-origen") {
                // cambiamos el departamneto origen y ciudad de acuerdo a la opcion seleccionada
                objectDestini.department_origin = optionSelected.text;
                objectDestini.citi_origin = result.data[0].name;
                console.log("object destini origin ", objectDestini);
                cleanOptions(selectCiudadOrigen); // limpiamos las opciones de ciudades del departamento anterior
                renderCities(selectCiudadOrigen, result.data);
            } else {
                objectDestini.department_destini = optionSelected.text;
                objectDestini.citi_destini = result.data[0].name;
                cleanOptions(selectCiudadDestino);
                renderCities(selectCiudadDestino, result.data);
            }
        }
        function handleChangeCity(event) {
            const target = event.target;
            if (target.id === "ciudad-origen") {
                objectDestini.citi_origin = target.value;
            } else {
                objectDestini.citi_destini = target.value;
            }
        }
        selectDepartamentoOrigen.addEventListener(
            "change",
            handleChangeDepartment,
        );
        selectDepartamentoDestino.addEventListener(
            "change",
            handleChangeDepartment,
        );
        selectCiudadOrigen.addEventListener("change", handleChangeCity);
        selectCiudadDestino.addEventListener("change", handleChangeCity);

        function renderDestinos(listDestinos) {
            for (let i = 0; i < listDestinos.length; i++) {
                const destini = listDestinos[i];
                const option = document.createElement("option");

                option.value = destini.id;
                option.textContent = destini.name;
                selectDepartamentoOrigen.appendChild(option);
                // clonamos el option ya que no nos permite meter una instancia del option en dos selects
                const optionClone = option.cloneNode(true);
                selectDepartamentoDestino.appendChild(optionClone);
            }
        }
        function cleanOptions(selectElement) {
            while (selectElement.options.length > 0) {
                selectElement.remove(0);
            }
        }
        function renderCities(element, listCities) {
            for (let i = 0; i < listCities.length; i++) {
                const city = listCities[i];
                const option = document.createElement("option");
                option.value = city.name;
                option.textContent = city.name;
                element.appendChild(option);
            }
        }
        async function getCities(idDepartment) {
            try {
                const getCities = await fetch(
                    `https://api-colombia.com/api/v1/Department/${idDepartment}/cities`,
                    { mode: "cors" },
                );
                const cities = await getCities.json();

                return { data: cities };
            } catch (error) {
                console.log("error al obtener cities", error);
                return { error: "no se pudieron obtener las ciudades" };
            }
        }
        // para formatear el texto si contiene algun caracter especial
        function encodeUri(text = "") {
            return encodeURIComponent(text);
        }
        async function inicializarSteps() {
            disabledElement(btnPrevStep, true);
            handleLoadingDepartmentSelects();
            try {
                const getDepartments = await fetch(
                    "https://api-colombia.com/api/v1/Department",
                    { mode: "cors" },
                );
                const departments = await getDepartments.json();
                const ferstCitiesDepartment = departments[0];
                renderDestinos(departments);
                const initialCities = await getCities(
                    Number(ferstCitiesDepartment.id),
                );
                if (initialCities.error) return;
                // iniciar el objectdestinis
                objectDestini.department_origin = departments[0].name;
                objectDestini.department_destini = departments[0].name;
                objectDestini.citi_origin = initialCities.data[0].name;
                objectDestini.citi_destini = initialCities.data[0].name;
                console.log("object destini initial ", objectDestini);
                renderCities(selectCiudadOrigen, initialCities.data);
                renderCities(selectCiudadDestino, initialCities.data);
            } catch (error) {}
            handleLoadingDepartmentSelects(true);
        }
        inicializarSteps();
        // END STEP ORIGIN DESTINY

        // STEP DATE TRAVEL
        let isErrorDateTravel = false;

        const dateTravel = document.getElementById("date-travel");
        const errorDateTravel = document.getElementById("error-date-travel");
        const currentDate = new Date();
        dateTravel.min = currentDate.toISOString().split("T")[0];
        dateTravel.value = currentDate.toISOString().split("T")[0];

        // END STEP DATE  TRAVEL

        // STEP ARTICLES LIST
        const containerArticleList = document.getElementById(
            "container-list-articles",
        );
        const inputCantArticle = document.getElementById("input-cant-article");
        const inputTextArticle = document.getElementById("input-name-article");
        const inputTextArticleMessagge = document.getElementById(
            "error-input-article",
        );
        const btnAddArticle = document.getElementById("btn-add-article");
        let listArticles = [];
        // funcion para verificar si hay articulos mostrar la tabla si no no
        function showArticles() {
            if (listArticles.length > 0) {
                containerArticleList.style.visibility = "visible";
            } else {
                containerArticleList.style.visibility = "hidden";
            }
        }

        // Step List Serices
        const containerServices = document.getElementById("container-services");
        let listServices = [];
        let countListener = 0; // contador de listener ya que se ejecuta dos veces por click y solo necesitamos una

        // logig next step

        btnNextStep.addEventListener("click", () => {
            // comprobar si hay siguiente step
            if (indexCurrentStep < totalSteps - 1 === false) return;

            // desabilitamos el boton para evitar fallos en los stylos  para que no colapsen si se le da muchos clips

            disabledElement(btnNextStep, true, "...cargando");
            disabledElement(btnPrevStep, true);

            const currentStep = formCotizar.children[indexCurrentStep];
            const nexStep = formCotizar.children[indexCurrentStep + 1];

            currentStep.addEventListener(
                "transitionend",
                () => {
                    currentStep.style.display = "none";
                    nexStep.style.display = "flex";
                    nexStep.style.transform = "translate(0, 0)";

                    // volvemos a habilitar el boton
                    disabledElement(btnNextStep, false, "siguiente");
                    disabledElement(btnPrevStep, false);

                    indexCurrentStep++;
                    logiSteps(indexCurrentStep);
                    // sumar el width que ya tiene mas el nuevo
                    const progressBarCurrentWidth = Number(
                        progressBar.style.width.slice(0, -1),
                    );
                    const newWidth = progressBarCurrentWidth + porcentStep;
                    progressBar.style.width = `${newWidth}%`;
                },
                { once: true },
            );
            // currentStep.style.display = "block"
            currentStep.style.transform = "translate(-100% , 0)";
        });

        // logic  previus btn
        btnPrevStep.addEventListener("click", () => {
            // si el indexcurren step es mayor que 0 hacemos el previo step
            if (indexCurrentStep > 0 === false) return;

            // desabilitamos el boton para evitar fallos en los stylos  para que no colapsen si se le da muchos clips
            disabledElement(btnPrevStep, true, "cargando...");
            disabledElement(btnNextStep, true);

            const previusStep = formCotizar.children[indexCurrentStep - 1];
            const currentStep = formCotizar.children[indexCurrentStep];

            currentStep.addEventListener(
                "transitionend",
                () => {
                    currentStep.style.display = "none";
                    previusStep.style.display = "flex";
                    previusStep.style.transform = "translate(0,0)";
                    // volvemos a habilitar el boton
                    disabledElement(btnPrevStep, false, "Anterior");
                    disabledElement(btnNextStep, false);

                    indexCurrentStep--;
                    logiSteps(indexCurrentStep);
                    const progressBarCurrentWidth = Number(
                        progressBar.style.width.slice(0, -1),
                    );
                    const newWidth = progressBarCurrentWidth - porcentStep;
                    // ya que nhay problemas en la resta del ultimo step
                    if (indexCurrentStep === 0) {
                        progressBar.style.width = `0%`;
                        return;
                    }
                    progressBar.style.width = `${newWidth}%`;
                },
                { once: true },
            );
            // currentStep.style.display = "block"
            currentStep.style.transform = "translate(100% , 0)";
        });

        // UTILIDADES
        function showError(message = "", element) {
            element.textContent = message;
            let idTimeOutMessage = setTimeout(() => {
                element.textContent = "";
                clearTimeout(idTimeOutMessage);
            }, 3000);
        }
        function disabledElement(element, action, messageTextContent = "") {
            if (action === true) {
                element.setAttribute("disabled", "true");
                if (messageTextContent)
                    element.textContent = messageTextContent;
            } else {
                element.removeAttribute("disabled");
                if (messageTextContent)
                    element.textContent = messageTextContent;
            }
        }

        formCotizar.addEventListener("submit", (event) => {
            event.preventDefault();
            const formData = new FormData(event.target);
            const ciudadOrigen = formData.get("ciudad-origen");
            const ciudadDestino = formData.get("ciudad-destino");
            const peso = formData.get("peso");
            const dimension = formData.get("dimension");
            location.href = `https://web.whatsapp.com/send?phone=573157057663&text=Para cotizar ciudad de origen: ${ciudadOrigen}, ciudad destino: ${ciudadDestino}, Peso: ${peso}, Dimension : ${dimension}`;

            console.log("ciudad de origen", ciudadOrigen);
        });

        function logiSteps(stepCurrent) {
            switch (stepCurrent) {
                case 0:
                    typeWriter(titleStep, COTIZACION_STEPS_TEXT.STEP_1, 30);
                    disabledElement(btnPrevStep, true);

                    break;
                case 1:
                    typeWriter(titleStep, COTIZACION_STEPS_TEXT.STEP_2, 30);
                    disabledElement(btnPrevStep, false);
                    break;
                case 2: // step date travel
                    typeWriter(titleStep, COTIZACION_STEPS_TEXT.STEP_3, 30);
                    if (isErrorDateTravel) {
                        disabledElement(btnNextStep, true);
                    } else {
                        disabledElement(btnNextStep, false);
                    }

                    dateTravel.removeEventListener("change", handleDateTravel);
                    dateTravel.addEventListener("change", handleDateTravel);
                    function handleDateTravel(event) {
                        const inputDate = event.target.value;
                        if (
                            inputDate < currentDate.toISOString().split("T")[0]
                        ) {
                            isErrorDateTravel = true;
                            errorDateTravel.textContent =
                                "Ingrese una fecha valida";
                            disabledElement(btnNextStep, true);
                        } else {
                            isErrorDateTravel = false;
                            errorDateTravel.textContent = "";
                            disabledElement(btnNextStep, false);
                        }
                    }

                    break;

                case 3:
                    typeWriter(titleStep, COTIZACION_STEPS_TEXT.STEP_4, 30);
                    updateDisabledButtonsStepArticle();
                    inputCantArticle.removeEventListener(
                        "input",
                        handleChangeCantArticle,
                    );
                    inputCantArticle.addEventListener(
                        "input",
                        handleChangeCantArticle,
                    );
                    btnAddArticle.removeEventListener(
                        "click",
                        handleBtnAddArticle,
                    );
                    btnAddArticle.addEventListener(
                        "click",
                        handleBtnAddArticle,
                    );
                    function handleChangeCantArticle(event) {
                        const input = event.target.value;
                        if (isNaN(input)) {
                            event.target.value = "";
                            return;
                        }
                        if (input[0] <= 0) {
                            event.target.value = "";
                            return;
                        }
                        if (event.target.value.length > 1) {
                            event.target.value = input.substring(0, 2);
                            return;
                        }
                    }
                    function handleBtnAddArticle(event) {
                        event.preventDefault();
                        const cantArticle = inputCantArticle.value;
                        const textArticle = inputTextArticle.value;
                        if (!cantArticle) {
                            showError(
                                "Por favor agregue una cantidad del articulo",
                                inputTextArticleMessagge,
                            );
                            return;
                        }
                        if (!textArticle) {
                            showError(
                                "Por favor agregue un articulo",
                                inputTextArticleMessagge,
                            );
                            return;
                        }
                        const idArticle = crypto.randomUUID();
                        const objetArticle = {
                            id: idArticle,
                            cant_articel: cantArticle,
                            text_article: textArticle,
                        };
                        const onDeleteItem = () => {
                            document.getElementById(idArticle).remove();
                            listArticles = listArticles.filter(
                                (article) => article.id !== idArticle,
                            );
                            showArticles(listArticles);

                            updateDisabledButtonsStepArticle();
                        };
                        const onEditItem = (event) => {
                            inputCantArticle.value = cantArticle;
                            inputTextArticle.value = textArticle;
                            inputTextArticle.focus();
                            onDeleteItem();
                        };
                        const newArticle = createItemTransport(
                            idArticle,
                            cantArticle,
                            textArticle,
                            onDeleteItem,
                            onEditItem,
                        );
                        containerArticleList.appendChild(newArticle);
                        // acciones

                        // limpiamos el input del article
                        inputTextArticle.value = "";
                        // agregamos el nuevo article al aray de articles
                        listArticles.push(objetArticle);
                        showArticles(containerArticleList);
                        updateDisabledButtonsStepArticle();
                    }

                    break;

                case 4: //step services
                    typeWriter(titleStep, COTIZACION_STEPS_TEXT.STEP_5, 30);
                    containerServices.removeEventListener(
                        "click",
                        handleContainerServices,
                    );
                    containerServices.addEventListener(
                        "click",
                        handleContainerServices,
                    );
                    function handleContainerServices(event) {
                        let newService = null;
                        // sacamos el servicio ya sea del label o del input que esta dentro
                        if (event.target.tagName.toLowerCase() === "input") {
                            newService = event.target.name;
                        } else if (
                            event.target.tagName.toLowerCase() === "label"
                        ) {
                            //evitamos que le propague el evento al input que esta adentro o si no se ejecuta dos veces
                            newService =
                                event.target.querySelector("input").name;
                        } else {
                            return;
                        }

                        countListener++;
                        if (countListener === 2) {
                            countListener = 0;
                            return;
                        }

                        if (listServices.includes(newService)) {
                            listServices = listServices.filter(
                                (service) => service !== newService,
                            );
                        } else {
                            listServices.push(newService);
                        }
                        console.log("services", listServices);
                    }

                    break;
                case 5:
                    typeWriter(titleStep, COTIZACION_STEPS_TEXT.STEP_6, 30);
                    // location.href =
                    //     `https://wa.me/573203442396?text=😀 ¡Hola! Quiero realizar una cotización para mi próximo transporte.%0A
                    // *Departamento Origen:* ${objectDestini.department_origin}%0A
                    // *Ciudad Origen:* ${objectDestini.citi_origin}%0A
                    // *Departamento Destino:* ${objectDestini.department_destini}%0A
                    // *Ciudad Destino:* ${objectDestini.citi_destini}`
                    //         .split("%0A")
                    //         .join("");

                    break;
                default:
                    break;
            }
        }

        function updateDisabledButtonsStepArticle() {
            if (listArticles.length < 1) {
                disabledElement(btnNextStep, true);
            } else {
                disabledElement(btnNextStep, false);
            }
        }

        function updateDisabledButtonsStepServices() {
            if (listServices.length < 1) {
                disabledElement(btnNextStep, true);
            } else {
                disabledElement(btnNextStep, false);
            }
        }
    </script>
</Layout>
